<div class="row m-100 sub-heading-Genpact col-xs-12">
                

    
    
    <div class="rte">



<h1>Regulatory Disclosures</h1>



</div>


    
    
    <div class="rte">



<h2>&nbsp;</h2>



</div>


    
    
    <div class="rte">



<h2><span style="font-weight: normal;"></span></h2>
<ul class="normal-rte-list">
<li></li>

</ul>
<p>&nbsp;</p>
<h2><span style="font-weight: normal;"></span></h2>
<ul class="normal-rte-list">
<li><li></li>
<li></li>
</ul>
<p>&nbsp;</p>
<h2><span style="font-weight: normal;">IOSCO</span></h2>
<ul class="normal-rte-list">
<li></li>
</ul>
</div>
</div>