<div class="upload-list-main">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>
                <span class="arrow-down">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20"
                        viewBox="0 0 24 24">
                        <defs>
                            <path id="a" d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z" />
                            <path id="c" d="M0 0h50v50H0z" />
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <mask id="b" fill="#fff">
                                <use xlink:href="#a" />
                            </mask>
                            <g mask="url(#b)">
                                <use fill="#000" transform="translate(-13 -13)" xlink:href="#c" />
                            </g>
                        </g>
                    </svg>
                </span>Entities</th>
            <th></th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let entity of allEntities">
            <td>
                <span>{{entity.entityName}}</span>
            </td>
            <td></td>
            <td>
                <i class="fa fa-check-circle" *ngIf="!entity.errorFlag"></i>
                <i class="fa fa-exclamation-triangle" *ngIf="entity.errorFlag"></i>
            </td>

        </tr>
    </table>
</div>