<div class="row m-100 sub-heading-crisil" style="display: block;">
    <h1>© 2021 Mitsubishi UFJ Financial Group, Inc. All rights reserved.<br>
    </h1>
    <!-- <h2>&nbsp;</h2>
    <h2>Genpact respects your privacy and is committed to&nbsp;protecting your personal data. This privacy notice will inform you as to how we&nbsp;look after your personal data when you visit our website (regardless of where&nbsp;you visit it from) and tell you about your privacy rights and how the law&nbsp;protects you.</h2>
    <h2>&nbsp;</h2>
    <h2>This privacy notice is&nbsp;provided in a layered format so you can click through to the specific areas set&nbsp;out below. Please also use the glossary to understand the meanings of some of&nbsp;the terms used in this privacy notice.</h2>
    <h2>&nbsp;</h2>
    <h2><b>1.&nbsp;Important information and who we are</b></h2>
    <h2><b>2.&nbsp;The data we collect about you</b></h2>
    <h2><b>3.&nbsp;How we collect your personal data</b></h2>
    <h2><b>4.&nbsp;How we use your personal data</b></h2>
    <h2><b>5.&nbsp;Disclosures of your personal data</b></h2>
    <h2><b>6.&nbsp;International transfers</b></h2>
    <h2><b>7.&nbsp;Data security</b></h2>
    <h2><b>8.&nbsp;Data retention</b></h2>
    <h2><b>9.&nbsp;Your legal rights</b></h2>
    <h2><b>10.&nbsp;Glossary</b><br>
    </h2>
    <h2><br>
    <b>1.&nbsp;Important information and who we are</b></h2>
    <h2>&nbsp;</h2>
    <h2><b>Purpose of this privacy notice</b><br>
    </h2>
    <h2>This&nbsp;privacy&nbsp;notice aims to give you information on how CRISIL&nbsp;collects and processes your personal data through your use of&nbsp;this&nbsp;website, including any data you may provide through&nbsp;this&nbsp;website&nbsp;when you sign up to our newsletter, purchase a product&nbsp;or service or take part in a competition.</h2>
    
    <h2>This&nbsp;website&nbsp;is not intended for children and we do not&nbsp;knowingly collect data relating to children.</h2>
    
    <h2>It is important that you read this&nbsp;privacy&nbsp;notice together&nbsp;with any other&nbsp;privacy&nbsp;notice or fair processing notice we may&nbsp;provide on specific occasions when we are collecting or processing personal&nbsp;data about you so that you are fully aware of how and why we are using your&nbsp;data. This&nbsp;privacy&nbsp;notice supplements the other notices and is not&nbsp;intended to override them.</h2>
    <h2>&nbsp;</h2>
    <h2><b>Controller</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>This Privacy Notice applies to information that CRISIL Limited and its&nbsp;subsidiaries (collectively, “CRISIL” or “we” or “us”) collect on www.crisil.com,&nbsp; &nbsp;www.crisilresearch.com, www.crisilratings.com, www.smefirst.com and through other websites&nbsp;and services to which this Privacy Policy is linked or otherwise referenced&nbsp;(collectively, the “Services”).</h2>
    
    <h2>CRISIL Limited is the controller and responsible for this&nbsp;website.</h2>
    
    <h2>We have appointed a Privacy Officer or data protection officer (DPO) who&nbsp;is responsible for overseeing questions in relation to&nbsp;this&nbsp;privacy&nbsp;notice. If you have any questions about this&nbsp;privacy&nbsp;notice,&nbsp;including any requests to exercise your&nbsp;legal rights, please contact the Privacy Officer using the details set&nbsp;out below.</h2>
    <h2>&nbsp;</h2>
    <h2><b>Contact details</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>Name or title: The Privacy Officer</h2>
    
    <h2>Email address: privacy@crisil.com</h2>
    
    <h2>Postal address: Compliance Department, CRISIL Limited, CRISIL House,&nbsp;Hiranandani Business Park, Powai, Mumbai</h2>
    
    <h2>You have the right to make a complaint at any time to the Information&nbsp;Commissioner's Office (ICO), the UK supervisory authority for data protection&nbsp;issues (<a href="http://www.ico.org.uk">www.ico.org.uk</a>). We would, however,&nbsp;appreciate the chance to deal with your concerns before you approach the ICO so&nbsp;please contact us in the first instance.</h2>
    <h2>&nbsp;</h2>
    <h2><b>Changes to the privacy notice and your duty to inform us of changes</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>This version was last updated in May 2018 and historic versions can be&nbsp;obtained by contacting us.</h2>
    
    <h2>It is important that the personal data we hold about you is accurate and&nbsp;current. Please keep us informed if your personal data changes during your&nbsp;relationship with us.</h2>
    
    <h2>CRISIL may, from time to time, modify this&nbsp;Privacy Notice to reflect legal, technological or other developments. If we make material changes to the way we use<br>
    Personal Data (defined below), we will post advance notice about the changes in&nbsp;the Services and you will be asked to agree to the amended Privacy Notice if&nbsp;you wish to continue using the Services.</h2>
    <h2>&nbsp;</h2>
    <h2><b>Third-party links</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>This&nbsp;website&nbsp;may include links to third-party&nbsp;websites,&nbsp;plug-ins and applications. Clicking on those links or enabling those&nbsp;connections may allow third parties to collect or share data about you. We do&nbsp;not control these third-party&nbsp;websites&nbsp;and are not responsible for&nbsp;their&nbsp;privacy&nbsp;statements. This Privacy Notice does not apply to information that is collected by any third-party website&nbsp;or service that you may access through the Services.&nbsp; Our agreements with certain customers may contain provisions about the&nbsp;collection, use, storage and disposal of information. If a provision of a&nbsp;customer agreement conflicts or otherwise is inconsistent with a provision of&nbsp;this Privacy Notice, then the provision of the customer agreement will prevail.</h2>
    <h2>&nbsp;</h2>
    <h2><b>2.&nbsp;The data we collect about you</b></h2>
    <h2>&nbsp;</h2>
    <h2>Personal data, or personal information, means any information about an&nbsp;individual from which that person can be identified. It does not include data&nbsp;where the identity has been removed (anonymous data).</h2>
    <h2>&nbsp;</h2>
    <h2>CRISIL may collect, use, store and transfer&nbsp;different kinds of personal data about you which we have grouped together&nbsp;follows:</h2>
    <ul class="normal-rte-list">
    <li><b>Identity Data</b> includes first name, maiden name, last name, username or similar identifier, marital status, title, date of birth and gender;<br>
    </li>
    <li><b>Contact Data</b> includes billing address, delivery address, email address and telephone numbers;<br>
    </li>
    <li><b>Financial Data</b> includes bank account and payment card details;<br>
    </li>
    <li><b>Transaction Data</b> includes details about payments to and from you and other details of products and services you have purchased from us;<br>
    </li>
    <li><b>Technical Data</b> includes internet protocol (IP) address, your login data, browser type and version, time zone setting and location, browser plug-in types and versions, operating system and platform and other technology on the devices you use to access this website;<br>
    </li>
    <li><b>Profile Data</b> includes your username and password, purchases or orders made by you, your interests, preferences, feedback and survey responses;<br>
    </li>
    <li><b>Usage Data</b> includes information about how you use our website, products and services;<br>
    </li>
    <li><b>Marketing and Communications Data</b> includes your preferences in receiving marketing from us and our third parties and your communication preferences.</li>
    </ul>
    <p>&nbsp;</p>
    <h2>CRISIL also collects, uses and shares&nbsp;<b>Aggregated&nbsp;Data</b>&nbsp;such as statistical or demographic data for any purpose.&nbsp;Aggregated Data may be derived from your&nbsp; personal data but is not considered&nbsp;personal data in law as this data does&nbsp;<b>not</b>&nbsp;directly or&nbsp;indirectly reveal your identity. For example, we may aggregate your Usage Data to calculate the percentage of users accessing a specific&nbsp;website&nbsp;feature.&nbsp;However, if we combine or connect Aggregated Data with your personal data so&nbsp;that it can directly or indirectly identify you, we treat the combined data as&nbsp;personal data which will be used in accordance with this&nbsp;privacy&nbsp;notice.</h2>
    <h2>&nbsp;</h2>
    <h2>CRISIL does not collect any&nbsp;<b>Special Categories of Personal Data</b>&nbsp;about&nbsp;you (this includes details about your race or ethnicity, religious or&nbsp;philosophical beliefs, sex life, sexual orientation, political opinions, trade&nbsp;union membership, information about your health and genetic and biometric&nbsp;data). Nor do we collect any information about criminal convictions and&nbsp;offences.</h2>
    <h2>&nbsp;</h2>
    <h2><b>If you fail to provide personal data</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>Where we need to collect personal data by law, or under the terms of a&nbsp;contract we have with you and you fail to provide that data when requested, we&nbsp;may not be able to perform the contract we have or are trying to enter into&nbsp;with you (for example, to provide you with goods or services). In this case, we&nbsp;may have to cancel a product or service you have with us but we will notify you&nbsp;if this is the case at the time.</h2>
    <h2>&nbsp;</h2>
    <h2><b>3.&nbsp;How we collect your personal data</b></h2>
    <h2>&nbsp;</h2>
    <h2>CRISIL collects&nbsp;information, some of which is Personal Data, to deliver, promote or market&nbsp;CRISIL’s products or services in connection with an existing or potential<br>
    business or employment relationship with you.&nbsp;</h2>
    
    <h2>We use different methods to collect data from and&nbsp;about you including through:</h2>
    
    <ul class="normal-rte-list">
    <li><b>Direct interactions</b>.&nbsp;You may give us your Identity, Contact and Financial Data by filling in forms or by corresponding with us by post, phone, email or otherwise. This includes personal data you provide when you:<ul class="normal-rte-list">
    <li>apply for our products or services;</li>
    <li>create an account on our website;<br>
    </li>
    <li>disclose information on our social media pages, message boards, comment fields, chat areas or other community forums;<br>
    </li>
    <li>subscribe to our service or publications;<br>
    </li>
    <li>request marketing to be sent to you;<br>
    </li>
    <li>enter a competition, promotion or survey; or<br>
    </li>
    <li>give us some feedback.<br>
    </li>
    </ul>
    </li>
    <li><b>Automated technologies or interactions</b>. As you interact with our website, we may automatically collect Technical Data about your equipment, browsing actions and patterns. We collect this personal data by using cookies, server logs and other similar technologies.&nbsp;<br>
    </li>
    <li><b>Third parties or publicly available sources</b>. We may receive personal data about you from various third parties and public sources as set out below:<br>
    <ul class="normal-rte-list">
    <li>Public Forums. CRISIL is not responsible or liable for Personal Data that you post in Forums or otherwise choose to make public.&nbsp; We have the right but not the obligation to monitor any activity and remove information from comment fields, message boards, events and other interactive sections of the Services.</li>
    <li>Technical Data from the following parties:<br>
    <ul class="normal-rte-list">
    <li>(a) analytics providers such as Google and Adobe based outside the EU. Generally, analytics services do not identify individual users.&nbsp; Many analytics services allow you to opt out of data collection;</li>
    <li>(b) data collection technology which is deployed by CRISIL when you visit the Services.&nbsp; This can be used to collect information such as IP address, browser type, browser language, time zone, language settings and operating system on your device, how long you spend on various webpages in the Services, which webpages you view, your search queries, error and performance reports, the webpages that you visited before and after using the Services. Other data collection technology is deployed by advertisers, other website operators (also known as ‘publishers’), and networks and other third parties with which CRISIL partners to operate the Services.<br>
    Data collection technology helps us improve your experience of the Services by, for example, by storing your password so you do not have to re-enter it each time you use the Services, measuring the success of marketing campaigns, compiling statistics about use of the Services and helping us analyse technical and navigational information about the Services and to detect and prevent fraud; and</li>
    <li>(c) search information providers:<br>
    <ul class="normal-rte-list">
    <li>Contact, Financial and Transaction Data from providers of technical, payment and delivery services based inside or outside the EU.<br>
    </li>
    <li>Identity and Contact Data from data brokers or aggregators based inside or outside the EU.<br>
    </li>
    <li>Identity and Contact Data from publicly availably sources such as Companies House and the Electoral Register based inside the EU<br>
    </li>
    </ul>
    </li>
    </ul>
    </li>
    </ul>
    </li>
    </ul>
    <p>&nbsp;</p>
    <h2><b>4.&nbsp;How we use your personal data</b></h2>
    <h2>&nbsp;</h2>
    <h2>We will only use your&nbsp;personal data when the law allows us to. Most commonly, we will use your&nbsp;personal data in the following circumstances:</h2>
    <ul class="normal-rte-list">
    <li>&nbsp;Where we need to perform the contract we are about to enter into or have entered into with you.</li>
    <li>Where it is necessary for our legitimate interests (or those of a third party) and your interests and fundamental rights do not override those interests.</li>
    <li>Where we need to comply with a legal or regulatory obligation.</li>
    </ul>
    <h2>Generally we do not rely on consent as a&nbsp;legal basis for processing your personal data other than in relation to sending&nbsp;third party direct marketing communications to you via email or text message.&nbsp;You have the right to withdraw consent to marketing at any time by&nbsp;contacting&nbsp;us.</h2>
    <h2>&nbsp;</h2>
    <h2><b>Purposes for which we will use your personal data</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>We have set out below, in a table format,&nbsp;a description of all the ways we plan to use your personal data, and which of&nbsp;the legal bases we rely on to do so. We have also identified what our&nbsp;legitimate interests are where appropriate.</h2>
    <h2>&nbsp;</h2>
    <h2>Note that we may process&nbsp;your personal data for more than one lawful ground depending on the specific&nbsp;purpose for which we are using your data. Please&nbsp;contact&nbsp;us&nbsp;if you need details about the specific&nbsp;legal ground we are relying on to process your personal data where more than&nbsp;one ground has been set out in the table below.</h2>
    <h2>&nbsp;</h2>
    <table width="0" border="1" cellspacing="0" cellpadding="0">
    <tbody><tr style="border: 1.0px solid black;"><td width="35%" valign="top"><h2><b>Purpose/Activity</b></h2>
    </td>
    <td width="30%" valign="top"><h2><b>Type of data</b></h2>
    </td>
    <td width="35%" valign="top"><h2><b> Lawful basis for processing including basis of legitimate interest </b></h2>
    </td>
    </tr><tr style="border: 1.0px solid black;"><td width="35%" valign="top"><h2>To register you as a new customer</h2>
    </td>
    <td width="30%" valign="top"><h2>(a) Identity</h2>
    <h2>(b) Contact</h2>
    </td>
    <td width="35%" valign="top"><h2>Performance of a contract with you</h2>
    </td>
    </tr><tr style="border: 1.0px solid black;"><td width="35%" valign="top"><h2>To process and deliver your order including:</h2>
    <h2>(a) Manage payments, fees and charges</h2>
    <h2>(b) Collect and recover money owed to us</h2>
    </td>
    <td width="30%" valign="top"><h2>(a) Identity</h2>
    <h2>(b) Contact</h2>
    <h2>(c) Financial</h2>
    <h2>(d) Transaction</h2>
    <h2>(e) Marketing and Communications</h2>
    </td>
    <td width="35%" valign="top"><h2>(a) Performance of a contract with you</h2>
    <h2>(b) Necessary for our legitimate interests (to recover debts due to us)</h2>
    </td>
    </tr><tr style="border: 1.0px solid black;"><td width="35%" valign="top"><h2>To manage our relationship with you which will include:</h2>
    <h2>(a) Notifying you about changes to our terms or privacy policy</h2>
    <h2>(b) Asking you to leave a review or take a survey</h2>
    </td>
    <td width="30%" valign="top"><h2>(a) Identity</h2>
    <h2>(b) Contact</h2>
    <h2>(c) Profile</h2>
    <h2>(d) Marketing and Communications</h2>
    </td>
    <td width="35%" valign="top"><h2>(a) Performance of a contract with you</h2>
    <h2>(b) Necessary to comply with a legal obligation</h2>
    <h2>(c) Necessary for our legitimate interests (to keep our records updated and to study how customers use our products/services)</h2>
    </td>
    </tr><tr style="border: 1.0px solid black;"><td width="35%" valign="top"><h2>To enable you to partake in a prize draw, competition or complete a survey</h2>
    </td>
    <td width="30%" valign="top"><h2>(a) Identity</h2>
    <h2>(b) Contact</h2>
    <h2>(c) Profile</h2>
    <h2>(d) Usage</h2>
    <h2>(e) Marketing and Communications</h2>
    </td>
    <td width="35%" valign="top"><h2>(a) Performance of a contract with you</h2>
    <h2>(b) Necessary for our legitimate interests (to study how customers use our products/services, to develop them and grow our business)</h2>
    </td>
    </tr><tr style="border: 1.0px solid black;"><td width="35%" valign="top"><h2>To administer and protect our business and this website (including troubleshooting, data analysis, testing, system maintenance, support, reporting and hosting of data)</h2>
    </td>
    <td width="30%" valign="top"><h2>(a) Identity</h2>
    <h2>(b) Contact</h2>
    <h2>(c) Technical</h2>
    </td>
    <td width="35%" valign="top"><h2>(a) Necessary for our legitimate interests (for running our business, provision of administration and IT services, network security, to prevent fraud and in the context of a business reorganisation or group restructuring exercise)</h2>
    <h2>(b) Necessary to comply with a legal obligation</h2>
    </td>
    </tr><tr style="border: 1.0px solid black;"><td width="35%" valign="top"><h2>To deliver relevant website content and advertisements to you and measure or understand the effectiveness of the advertising we serve to you</h2>
    </td>
    <td width="30%" valign="top"><h2>(a) Identity</h2>
    <h2>(b) Contact</h2>
    <h2>(c) Profile</h2>
    <h2>(d) Usage</h2>
    <h2>(e) Marketing and Communications</h2>
    <h2>(f) Technical</h2>
    </td>
    <td width="35%" valign="top"><h2>Necessary for our legitimate interests (to study how customers use our products/services, to develop them, to grow our business and to inform our marketing strategy)</h2>
    </td>
    </tr><tr style="border: 1.0px solid black;"><td width="35%" valign="top"><h2>To use data analytics to improve our website, products/services, marketing, customer relationships and experiences</h2>
    </td>
    <td width="30%" valign="top"><h2>(a) Technical</h2>
    <h2>(b) Usage</h2>
    </td>
    <td width="35%" valign="top"><h2>Necessary for our legitimate interests (to define types of customers for our products and services, to keep our website updated and relevant, to develop our business and to inform our marketing strategy)</h2>
    </td>
    </tr><tr style="border: 1.0px solid black;"><td width="35%" valign="top"><h2>To make suggestions and recommendations to you about goods or services that may be of interest to you</h2>
    </td>
    <td width="30%" valign="top"><h2>(a) Identity</h2>
    <h2>(b) Contact</h2>
    <h2>(c) Technical</h2>
    <h2>(d) Usage</h2>
    <h2>(e) Profile</h2>
    </td>
    <td width="35%" valign="top"><h2>Necessary for our legitimate interests (to develop our products/services and grow our business)</h2>
    <h2>&nbsp;</h2>
    <h2>&nbsp;</h2>
    <h2>&nbsp;</h2>
    <h2>&nbsp;</h2>
    </td>
    </tr></tbody></table>
    <h2>&nbsp;</h2>
    <h2><b>Marketing</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>We strive to provide you with choices&nbsp;regarding certain personal data uses, particularly around marketing and&nbsp;advertising.</h2>
    <h2>&nbsp;</h2>
    <h2><b>Promotional offers from us</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>We may use your Identity,&nbsp;Contact, Technical, Usage and Profile Data to form a view on what we think you may&nbsp;want or need, or what may be of interest to you. This is how we decide which&nbsp;products, services and offers may be relevant for you (we call this marketing).</h2>
    <h2>&nbsp;</h2>
    <h2>You will receive marketing&nbsp;communications from us if you have requested information from us or purchased&nbsp;goods or services from us or if you provided us with your details when you&nbsp;entered a competition or registered for a promotion and, in each case, you have&nbsp;not opted out of receiving that marketing.</h2>
    <h2>&nbsp;</h2>
    <h2><b>Third-party marketing</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>We will get your express&nbsp;opt-in consent before we share your personal data with any company outside CRISIL&nbsp;for marketing purposes.</h2>
    <h2>&nbsp;</h2>
    <h2><b>Opting out</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>You can ask us or third&nbsp;parties to stop sending you marketing messages at any time by following the&nbsp;opt-out links on any marketing message sent to you or by contacting us&nbsp;at&nbsp;any time.</h2>
    <h2>&nbsp;</h2>
    <h2>Where you opt out of receiving these&nbsp;marketing messages, this will not apply to personal data provided to us as a&nbsp;result of a product/service purchase, warranty registration, product/service&nbsp;experience or other transactions.</h2>
    <h2>&nbsp;</h2>
    <h2><b>Cookies</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>You can set your browser to&nbsp;refuse all or some browser cookies, or to alert you when&nbsp;websites&nbsp;set or access cookies. If you&nbsp;disable or refuse cookies, please note that some parts of this&nbsp;website&nbsp;may become inaccessible or not&nbsp;function properly.</h2>
    <h2>&nbsp;</h2>
    <h2>The&nbsp;Services use the following cookies:</h2>
    <ul class="normal-rte-list">
    <li>Strictly necessary cookies, which are required for&nbsp;the operation of the Services.</li>
    <li>Analytical/performance cookies, which allow CRISIL&nbsp;to recognise and count the number of visitors, learn how visitors navigate the&nbsp;Services and improve the Services.</li>
    <li>Functionality cookies, which CRISIL uses to&nbsp;recognise you when you return to the Services.</li>
    <li>Targeting cookies, which record your visits to the&nbsp;Services, the pages you visited and the links you followed. Targeting cookies&nbsp;helps CRISIL deliver digital advertisements that are targeted to your interests&nbsp;(as inferred from your online activity).&nbsp;<br>
    CRISIL also shares information collected through targeting cookies with&nbsp;third parties that send you targeted advertisements.</li>
    <li>Interaction cookies, which&nbsp;allow you to recommend CRISIL on social media.</li>
    </ul>
    <h2>&nbsp;</h2>
    <h2><b>Change of purpose</b><br>
    </h2>
    <h2>&nbsp;</h2>
    <h2>We will only use your personal data for&nbsp;the purposes for which we collected it, unless we reasonably consider that we&nbsp;need to use it for another reason and that reason is compatible with the&nbsp;original purpose. If you wish to get an explanation as to how the processing&nbsp;for the new purpose is compatible with the original purpose, please contact us.</h2>
    <h2>If we need to use your personal data for&nbsp;an unrelated purpose, we will notify you and we will explain the legal basis&nbsp;which allows us to do so.</h2>
    
    <h2>Please note that we may process your&nbsp;personal data without your knowledge or consent, in compliance with the above&nbsp;rules, where this is required or permitted by law.</h2>
     -->
        </div>