  <app-header></app-header>
  
  <router-outlet></router-outlet>
  <!-- footer code-->
  <div class="ftr-flx">
      <div class="cst-ftr">
          <p>&copy; 2021 Mitsubishi UFJ Financial Group, Inc. All rights reserved..</p>
      </div>
      <ul class="ftr-cstli">
          <li><a routerLink="regulatory-disclosure">REGULATORY DISCLOSURES & POLICIES</a></li>
          <li><a href="">|</a></li>
          <li><a routerLink="disclaimer">DISCLAIMER</a></li>
          <li><a href="">|</a></li>
          <li><a routerLink="terms-of-use">TERMS OF USE </a></li>
          <li><a href="">|</a></li>
          <li><a routerLink="privacy-notice">PRIVACY NOTICE</a></li>
      </ul>
  </div>
  <!-- footer code end-->
  <app-loading></app-loading>